.btn {
  font-weight: 700;
  transition: all 250ms ease-in-out;
}

.btn-outline-secondary {
  color: $gray-600;
  border-color: $gray-400;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    color: $gray-700;
    background-color: $gray-100;
    border-color: $gray-300;
  }

  &:disabled:hover,
  &:disabled:active {
    border-color: $gray-400;
  }
}

.btn-teal {
  background-color: $teal;
  color: #ffffff;

  &:hover {
    background-color: $teal-lighter;
    color: #ffffff;
  }
}

.btn-outline-teal {
  background-color: transparent;
  border-color: $teal;
  color: $teal;

  &:hover {
    background-color: transparent;
    border-color: $teal-lighter;
    color: $teal-lighter;
  }
}

.btn-toolbar .btn-sm {
  padding: 0.5rem 0.75rem;
}

.btn-muted {
  color: transparentize(#162642, 0.66);
  transition: all 250ms ease-in-out;

  &:hover {
    color: transparentize(#162642, 0.33);
  }

  &:active,
  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.btn-del {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 25rem;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 2px solid $gray-200;

  &:hover {
    background-color: $gray-200;
  }
}